data/*
ignored/
illumina_files/files/*
flask_docker_demo/
src/webfacing.py
src/Dockerfile
src/requirements.txt
src/pipeline/test.log
src/pipeline/illumina_files/*
reference/*
genes_canFam/*
rejects_canFam2.jpg
rejects_canFam3.jpg
software/*

