{% extends "base.html" %}

{% block content %}
    <h2>FAQs</h2>
	<div align = "center">
	<h3> What if I encounter an error in the conversion of GTC files from IDAT files?</h3>
	<h4> Verify to make sure the mainfiest and cluster files are correct (CSV, BPM, EGT) based on the Beadchip type used in the study.  This can be found on the GEO page for the series with the prefix GPL. </h4>
	<p></p>
	
	<h3> What if I lose a lot of variants during the GTC2VCF or normalization process? </h3>
	<h4> Again verify that the manifest and cluster files are correct.  Additionally check to make sure the correct Reference fasta sequence is being used.  </h4>
	<p></p>
	
	<h3> Other questions?  Email Alyssa at alyssa.pivirotto@temple.edu </h3>
	
	</div>
{% endblock %}