{% extends "base.html" %}

{% block content %}
    <h2>Visual Genomics Platform</h2>
	<h2>Transforming Raw Data into Knowledge</h2>
	<h3>Download beadchip data from GEO accession browser and visualize it in a variety of formats</h3>
	<div align="center">
		<img src="../static/img/main_circos.jpg" alt="Circos Plot Example">
	</div>
	<h3>What's beadchip data?  Click the video below to find out. </h3> 
	<div align="center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/lVG04dAAyvY?start=32" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<p></p>
{% endblock %}