{% extends "base.html" %}

{% block content %}
    <h1>Data Analysis</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.geoaccession.label }}<br>
            {{ form.geoaccession(size=32) }}
            {% for error in form.geoaccession.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.chipType.label }}<br>
            {{ form.chipType(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}